.App {
  text-align: center;

}
#root{
  margin:0;
  font-family: 'Poppins', sans-serif;

}
* {
  box-sizing: border-box;
}
.nava{
  height: 70px;
  display: flex;
  background-color:red;
  padding: 20px 36px;
  margin-top: 0;
  text-align: center;
  align-items: center;
}
.nava2{
padding-left:200px;
font-style: normal;
font-weight: 500;
font-size: 14.4608px;
line-height: 18px;

color: #FFFFFF;
}

.journal{
height: 168px;
width: 470px; 
margin-left: 40px;
margin-right:19px;
margin-top: 20px;
display: flex;
align-items: center;

}
.jour-image{
  width: 125px;
height: 168px;
}
.jour-title{
font-weight: 700;
font-size: 25px;
line-height: 30px;
color: #2B283A;
}
.jour-date{
font-weight: 700;
font-size: 12.24px;
line-height: 12px;
color: #2B283A;
}
.jour-text{
font-size: 10px;
font-weight: 500;
line-height: 15px;
letter-spacing: 0em;
text-align: justify;
padding-left: 19px;



}
.jour-stat{
border-radius: 0px;
}
.map-link{
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 10.24px;
line-height: 12px;
text-decoration-line: underline;
color: #918E9B;
text-underline-offset:4px;
}
.location{
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 10.24px;
line-height: 12px;
letter-spacing: 0.17em;
color: #2B283A;
}

